*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --hover-white: rgb(235, 235, 235);
    --blue: rgb(0, 81, 255);
    --dark-blue: rgb(0, 0, 255);
    --translucent: rgba(255, 255, 255, 0.8);
    --gradient-1: linear-gradient(to right, rgb(79, 172, 254), rgb(0, 242, 254));
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 8px 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.navbar .nav-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .nav-logo img {
    width: 40px;
    height: 40px;
}

.navbar .heading {
    text-transform: uppercase;
    color: var(--black);
    font-weight: 600;
}

.navbar .nav-link {
    width: 100%;
    color: var(--black);
}

.navbar .contact {
    color: var(--white);
    border-radius: 18px;
    background-color: var(--blue);
}

.navbar .nav-link:hover {
    color: var(--white);
    background-color: var(--black);
    border-radius: 18px;
}

.navbar .nav {
    gap: 5px;
}

#side-button {
    display: none;
    cursor: pointer;
}

#side-button svg {
    width: 20px;
    height: 20px;
}

.side-bar {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 100%;
    background-color: var(--hover-white);
    padding: 50px 20px;
    align-items: center;
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    z-index: 3;
}

.side-bar .nav {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.side-bar .nav .nav-link {
    color: var(--black);
    width: 100%;
}


.side-bar .nav .nav-link:hover {
    color: var(--white);
    background-color: var(--black);
    border-radius: 10px;
}

.section-1 {
    display: flex;
    width: 100%;
    min-height: 90vh;
    margin-top: 66px;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
}

.section-1 .background {
    width: 100%;
    height: 90vh;
    filter: blur(8px);
}

.section-1 .background img {
    width: 100%;
    height: 90vh;
}

.section-1 .text-section {
    display: flex;
    position: absolute;
    flex-direction: column;
    min-width: 60%;
    align-items: center;
    color: var(--black);
    background: var(--translucent);
    min-height: 50vh;
    justify-content: center;
    border-radius: 10px;
    gap: 10px;
    padding: 0px 20px;
}

.section-1 .text-section .button {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 200px;
    height: 40px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 13px;
    color: var(--white);
    background-color: var(--blue);
    text-decoration: none;
    padding: 10px;
}

.section-1 .text-section svg {
    width: 16px;
    height: 16px;
    fill: var(--white);
}
.section-1 .text-row {
    display: flex;
    flex-direction: row;
}

.main-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 90vh;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    align-items: center;
    padding: 30px 10px;
}

.half-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 20vh;
    align-items: center;
    padding: 30px 10px;
}


.title {
    display: flex;
    flex-direction: row;
    padding: 30px 10px;
    gap: 10px;
    align-items: center;
}

.title h1 {
    margin: 0;
    font-weight: 800;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    max-width: 700px;
    margin-bottom: 20px;
}

.info .profile {
    border: 1px solid var(--black);
    border-radius: 10px;
    filter: grayscale(100%);
    transition: transform 0.5s ease-in;
}

.info .profile:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
}

.info .info-section {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.info .skill-section {
    display: grid;
    margin: 0px 20px;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    min-width: 900px;
    background-image: var(--gradient-1);
    padding: 20px 50px;
    border-radius: 10px;
}

.info .skill {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: var(--black);
    text-decoration: none;
}

.info .skill-img {
    width: 60px;
    height: 60px;
}

.info-section .head {
    font-size: 18px;
    font-weight: 700;
}

.info-section .sub-head {
    font-size: 16px;
    font-weight: 600;
}

.info-section .body {
    font-size: 16px;
    font-weight: 400;
}

.info-section .highlight {
    color: var(--blue);
}
.info .project-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 600px;
    padding: 10px 20px;
    background-color: var(--white);
}

.info .project-section img {
    width: 300px;
    height: 150px;
}

.info .head {
    min-width: 318px;
}

.info .link-to {
    padding: 10px 20px;
    background-color: var(--dark-blue);
    color: var(--white);
    border-radius: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

.social-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social-section .social-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social-section .social-row a {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 10px 10px;
    color: var(--white);
    background-color: var(--black);
    font-size: 12px;
}

.social-section .social-row a svg {
    fill: var(--hover-white);
    width: 25px;
    height: 25px;
}


.contact-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--blue);
    justify-content: center;
    gap: 10px;
    width: 768px;
	max-width: 100%;
    min-width:370px;
    align-items: center;
    text-align: center;
}

.contact-section .contact-form {
    display: flex;
    flex-direction: column;
    width:50%;
    height:80%;
    text-align:center;
    background-color: var(--hover-white);
    padding: 10px 20px;
}

.contact-section .contact-form h2 {
    font-size: 18px;
    font-weight: 700;
}

.contact-section .contact-form p {
    font-size: 10px;
    text-align: left;
    margin: 0;
    padding-left: 10px;
}

.contact-section .left-side {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px 20px;
    color: var(--white);
}

input[type=text],
input[type=email],
input[type=phone],
textarea {
    display: flex;
	background-color: var(--white);
	border: none;
	padding: 12px 15px;
	margin: 8px 5px;
	width: 100%;
    font-size:0.8rem;
}

input[type=submit] {
    margin: 8px 5px;
	width: 100%;
    font-size:0.8rem;
    padding: 12px 15px;
    color: var(--white);
    background-color: var(--black);
    cursor: pointer;
}


@media screen and (max-width: 900px) {
    .nav-menu {
        display: none;
    }

    #side-button {
        display: flex;
    }

    .section-1 {
        min-height: 60vh;
    }

    .section-1 .background {
        min-height: 60vh;
    }

    .section-1 .text-section {
        min-height: 30vh;
        min-width: 80%;
    }

    .main-section {
        min-height: 0vh;
    }

    .half-section {
        min-height: 0vh;
    }

    .info {
        flex-direction: column;
        max-width: none;
        min-width: 100%;
    }

    .info .info-section {
        align-items: center;
        text-align: center;
    }

    .info .skill-section {
        grid-template-columns: repeat(2, 1fr);
        min-width: 500px;
    }

    .contact-section .left-side {
        display: none;
    }

    .contact-section .contact-form {
        width: 100%;
    }

    .contact-section .contact-form h2 {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .info .skill-section {
        grid-template-columns: repeat(1, 1fr);
        min-width: 100%;
    }
}